$headerBg: url(../img/header_background_v1.jpg);
$font: normal 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$contentBackground: #fff;
$headerFontsColor: #ececec;
$bodyBackround: #01acac;
$navBorderColor: #607d8b;
$mainbutton: #02acac;
$articleBackround: #efefef;
$colordata: #e90303;
$linecolor: #607d8b;
$postH3: #0097a7;
$pColor: #000000;
$formtextcolor: #02acac;


